# This notebook is made for a part of Coventry University's coursework.
Dataset is accessible on https://www.kaggle.com/sobhanmoosavi/us-accidents

## This is part two of the coursework - Visuallisation

Produced by Sunggu Choi

In [ ]:
#Library Importing

import pandas as pd
from pyspark.sql import SparkSession
from pyspark.context import SparkContext
from pyspark.sql.functions import *
from pyspark.sql.types import *
from datetime import date, timedelta, datetime
import time

In [16]:
#Initialization of a Spark Session
sc = SparkSession.builder.appName("loadDataAndVisualise")\
    .config ("spark.sql.shuffle.partitions", "50") \
    .config("spark.driver.maxResultSize","5g") \
    .config ("spark.sql.execution.arrow.enabled", "true")\
    .getOrCreate()

In [17]:
#Load CSV the dataset
df = sc.read.csv('out.csv', header=True)

In [18]:
#Check the dataset 
df.show(10)

+----+--------+-------------------+------------------+------------------+------------+----------+-----+--------------+-------------+-----------+------------+--------------+-----------------+-------+-----+--------+--------+--------+-------+-------+----------+-------+-----+---------------+--------------+------------+--------------+--------------+-----------------+---------------------+
|  ID|Severity|               Time|          Latitude|         Longitude|        City|    County|State|Temperature(F)|Wind_Chill(F)|Humidity(%)|Pressure(in)|Visibility(mi)|Precipitation(in)|Amenity| Bump|Crossing|Give_Way|Junction|No_Exit|Railway|Roundabout|Station| Stop|Traffic_Calming|Traffic_Signal|Turning_Loop|Sunrise_Sunset|Civil_Twilight|Nautical_Twilight|Astronomical_Twilight|
+----+--------+-------------------+------------------+------------------+------------+----------+-----+--------------+-------------+-----------+------------+--------------+-----------------+-------+-----+--------+--------+--------+-------+-------+----------+-------+-----+---------------+--------------+------------+--------------+--------------+-----------------+---------------------+
| A-1|       3|2016-02-08 05:46:00|         39.865147|        -84.058723|      Dayton|Montgomery|   OH|          36.9|          0.0|       91.0|       29.68|          10.0|             0.02|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|         Night|         Night|            Night|                Night|
| A-2|       2|2016-02-08 06:07:59|39.928059000000005|        -82.831184|Reynoldsburg|  Franklin|   OH|          37.9|          0.0|      100.0|       29.65|          10.0|              0.0|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|         Night|         Night|            Night|                  Day|
| A-3|       2|2016-02-08 06:49:27|         39.063148|        -84.032608|Williamsburg|  Clermont|   OH|          36.0|         33.3|      100.0|       29.67|          10.0|              0.0|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|          True|       False|         Night|         Night|              Day|                  Day|
| A-4|       3|2016-02-08 07:23:34|         39.747753|-84.20558199999999|      Dayton|Montgomery|   OH|          35.1|         31.0|       96.0|       29.64|           9.0|              0.0|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|         Night|           Day|              Day|                  Day|
| A-5|       2|2016-02-08 07:39:07|         39.627781|        -84.188354|      Dayton|Montgomery|   OH|          36.0|         33.3|       89.0|       29.65|           6.0|              0.0|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|          True|       False|           Day|           Day|              Day|                  Day|
| A-6|       3|2016-02-08 07:44:26|40.100590000000004|-82.92519399999999| Westerville|  Franklin|   OH|          37.9|         35.5|       97.0|       29.63|           7.0|             0.03|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
| A-7|       2|2016-02-08 07:59:35|         39.758274|-84.23050699999999|      Dayton|Montgomery|   OH|          34.0|         31.0|      100.0|       29.66|           7.0|              0.0|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
| A-8|       3|2016-02-08 07:59:58|         39.770382|        -84.194901|      Dayton|Montgomery|   OH|          34.0|         31.0|      100.0|       29.66|           7.0|              0.0|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
| A-9|       2|2016-02-08 08:00:40|         39.778061|        -84.172005|      Dayton|Montgomery|   OH|          33.3|          0.0|       99.0|       29.67|           5.0|              0.0|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
|A-10|       3|2016-02-08 08:10:04|40.100590000000004|-82.92519399999999| Westerville|  Franklin|   OH|          37.4|         33.8|      100.0|       29.62|           3.0|             0.02|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
+----+--------+-------------------+------------------+------------------+------------+----------+-----+--------------+-------------+-----------+------------+--------------+-----------------+-------+-----+--------+--------+--------+-------+-------+----------+-------+-----+---------------+--------------+------------+--------------+--------------+-----------------+---------------------+
only showing top 10 rows

In [20]:
# Test the dataset
df.select("City").show(10)

+------------+
|        City|
+------------+
|      Dayton|
|Reynoldsburg|
|Williamsburg|
|      Dayton|
|      Dayton|
| Westerville|
|      Dayton|
|      Dayton|
|      Dayton|
| Westerville|
+------------+
only showing top 10 rows

# Data analytics 
From this part in order to utilise the dataset, it need to be investigated.

In [26]:
# Visualising timeseries with severity so we could know when does car carsh happend

SyntaxError: invalid syntax (<ipython-input-26-ee121d1666d2>, line 4)